<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2><%= profile.username %> </h2>
        <div>
            <p><%= profile._id %> </p>
        </div>
        <a class="delete" data-doc="<%= profile._id %> ">delete</a>
    </div>
    
    <script>
       const trashcan = document.querySelector('a.delete');
       
       trashcan.addEventListener('click', (event) => {
            const endpoint = `/profiles/${trashcan.dataset.doc}`;

            fetch(endpoint, {
                method: 'DELETE'
            })
            .then((response) => response.json())
            .then((data) => window.location.href= data.redirect)
            .catch((err) => console.log(err))
       })
    </script>
</body>
</html>