<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css"
    />
</head>

<%- include('./pages/partials/nav.ejs')  %> 

    <section clas="">
        <div class="container-xxl my-5 py-5">
            <h2 class="mb-3 text-secondary">Biler</h2>
            <div class="row">
                <div class="col-3">
                    <div class="card mt-3">
                        <img src="../public/Assets/cykel" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Overskrift</h5>
                          <p class="card-text">Beskrivelse</p>
                          <a href="#" class="btn btn-primary">Pris i Kr</a>
                          <p class="card-text fw-light fst-italic mt-2">#kategori</p>
                        </div>
                      </div>
                </div>
                <div class="col-3">
                    <div class="card mt-3">
                        <img src="../public/Assets/cykel" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Overskrift</h5>
                          <p class="card-text">Beskrivelse</p>
                          <a href="#" class="btn btn-primary">Pris i Kr</a>
                          <p class="card-text fw-light fst-italic mt-2">#kategori</p>
                        </div>
                      </div>
                </div>
                
            </div>
        </div>
    </section>

</body>
</html>