<nav class="navbar navbar-expand-md navbar-light fixed-top bg-white">
    <div class="container-xxl">
        <a href="/" class="navbar-brand">
            <h1 class="text-primary">dba</h1>
        </a>
        <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
            <ul class="navbar-nav">

                <li class="nav-item ms-2">
                    <a class=" btn btn-warning" href="/Opretvare">Opret Annonce</a>
                </li>
                <li class="nav-item ms-2">
                    <a class=" btn btn-secondary" href="/SeVarer">Se Annoncer</a>
                </li>
                <li class="nav-item ms-2">
                    <a class="btn btn-outline-primary" href="/RedigerProfil/6196a32371bc615562a45a83">Rediger profil</a>
                </li>
                <li class="nav-item ms-2">
                    <a class="btn btn-outline-danger" href="#">Log ud</a>
                </li>
            </ul>
        </div>
    </div>
</nav> 